:root {
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VeryDarkBlue: hsl(217, 54%, 11%);
    --VeryDarkBlue2: hsl(216, 50%, 16%);
    --VeryDarkBlue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --principalFont: 'Outfit', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--VeryDarkBlue);
    font-family: var(--principalFont);
    color: var(--SoftBlue);
    font-size: 1.5rem;
}

p {
    margin-top: 1rem;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--VeryDarkBlue2);
    max-width: 32rem;
    border-radius: 2rem;
    padding: 1.6rem;
}

.product:hover::after{
    content: url(../images/icon-view.svg);
    background-color: hsla(178, 100%, 50%, .5);
    width: 28.8rem;
    height: 28.8rem;
    position: absolute;
    border-radius: 1rem;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -29.1rem;
}

.image {
    max-width: 100%;
    border-radius: 1rem;
}

.content {

}

.heading {
    color: var(--White);
    font-weight: 600;
    font-size: 2rem;
}

.content__text {
    line-height: 1.5;
    font-weight: 300;
}

.content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--VeryDarkBlue3);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.blue {
    color: var(--Cyan);
}


.flex {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.content__footer {
    font-weight: 400;
}

.avatar {
    border: solid 1px var(--White);
    border-radius: 50%;
    width: 3rem;
    margin-right: .5rem;
}

span {
    color: var(--White);
}

.hover:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
}